<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidlogin">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <uses-library android:name="android.test.runner" />
    </application>

    <instrumentation
        android:name="android.support.test.runner.AndroidJUnitRunner"
        android:targetPackage="com.motorola.platform.androidlogin">
    </instrumentation>
</manifest>
